.single-service-container {
    border: 2px solid lightgrey;
    padding: 20px;
    margin: 25px;
    background-color: #84817a;
}
.service-details {
    text-align: left;
}
.name-text {
    color: #f39c12;
}
.detail-text {
    color: #bdc3c7;
}
