.features-title {
    font-weight: 700;
}
.features {
    margin: 20px 0 150px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 4px;
    height: 420px;
    cursor: pointer;
}
.info-area {
    margin-top: 15px;
    text-align: left;
}
.feature-name {
    color: #f39c12;
}
.feature-detail {
    font-weight: 700;
}
.enroll-btn {
    border: 0;
    outline: 0;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: #f39c12;
    color: #fff;
    width: 100px;
    height: 35px;
    font-weight: 600;
    transition: 0.6s linear;
}
.enroll-btn:hover {
    background-color: #fff;
    color: #f39c12;
    border: 1px solid #f39c12;
}